In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

# Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
#Activating the chrome browser
ser=Service(r"C:\Users\Shalini Maurya\Downloads\chromedriver_win32\chromedriver.exe")
driver=webdriver.Chrome(service=ser)

In [18]:
url ="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(5)

#extract rank
rank=[]
r=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]//tbody//tr//td[1][@align="center"]')
for i in r:
    rank.append(i.text)

#name
name=[]
n=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]//tbody//tr//td[2]')
for i in n:
    name.append(i.text)
    
#artist
artist=[]
a=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]//tbody//tr//td[2]')
for i in a:
    artist.append(i.text)

#upload date
upload_date=[]
ud=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]//tbody//tr//td[3]')
for i in ud:
    upload_date.append(i.text)

#view
view=[]
v=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]//tbody//tr//td[4]')
for i in v:
    view.append(i.text)

dt=pd.DataFrame({"Rank":rank, "Name":name,"Artist":artist,"Upload_Date":upload_date,"View":view})
dt

,Rank,Name,Artist,Upload_Date,View
0,1.,"""Baby Shark Dance""[3]","""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,10.25
1,2.,"""Despacito""[6]","""Despacito""[6]",Luis Fonsi,7.76
2,3.,"""Johny Johny Yes Papa""[12]","""Johny Johny Yes Papa""[12]",LooLoo Kids,6.20
3,4.,"""Shape of You""[13]","""Shape of You""[13]",Ed Sheeran,5.63
4,5.,"""See You Again""[15]","""See You Again""[15]",Wiz Khalifa,5.43
5,6.,"""Bath Song""[20]","""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.03
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[21]","""Learning Colors – Colorful Eggs on a Farm""[21]",Miroshka TV,4.56
7,8.,"""Phonics Song with Two Words""[22]","""Phonics Song with Two Words""[22]",ChuChu TV,4.49
8,9.,"""Masha and the Bear – Recipe for Disaster""[23]","""Masha and the Bear – Recipe for Disaster""[23]",Get Movies,4.49
9,10.,"""Uptown Funk""[24]","""Uptown Funk""[24]",Mark Ronson,4.47
10,11.,"""Gangnam Style""[25]","""Gangnam Style""[25]",Psy,4.35
11,12.,"""Dame Tu Cosita""[30]","""Dame Tu Cosita""[30]",El Chombo,3.87
12,13.,"""Wheels on the Bus""[31]","""Wheels on the Bus""[31]",Cocomelon – Nursery Rhymes,3.72
13,14.,"""Sugar""[32]","""Sugar""[32]",Maroon 5,3.65
14,15.,"""Roar""[33]","""Roar""[33]",Katy Perry,3.53
15,16.,"""Sorry""[34]","""Sorry""[34]",Justin Bieber,3.52
16,17.,"""Counting Stars""[35]","""Counting Stars""[35]",OneRepublic,3.52
17,18.,"""Thinking Out Loud""[36]","""Thinking Out Loud""[36]",Ed Sheeran,3.41
18,19.,"""Axel F""[37]","""Axel F""[37]",Crazy Frog,3.24
19,20.,"""Girls Like You""[38]","""Girls Like You""[38]",Maroon 5,3.24
20,21.,"""Faded""[39]","""Faded""[39]",Alan Walker,3.24
21,22.,"""Dark Horse""[40]","""Dark Horse""[40]",Katy Perry,3.23
22,23.,"""Let Her Go""[41]","""Let Her Go""[41]",Passenger,3.18
23,24.,"""Bailando""[42]","""Bailando""[42]",Enrique Iglesias,3.17
24,25.,"""Lean On""[43]","""Lean On""[43]",Major Lazer,3.17
25,26.,"""Shake It Off""[44]","""Shake It Off""[44]",Taylor Swift,3.15
26,27.,"""Baa Baa Black Sheep""[45]","""Baa Baa Black Sheep""[45]",Cocomelon – Nursery Rhymes,3.14
27,28.,"""Perfect""[46]","""Perfect""[46]",Ed Sheeran,3.10
28,29.,"""Waka Waka (This Time for Africa)""[47]","""Waka Waka (This Time for Africa)""[47]",Shakira,3.07
29,30.,"""Mi Gente""[48]","""Mi Gente""[48]",J Balvin,3.05

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Tim

In [43]:
url ="https://www.bcci.tv/"
driver.get(url)
time.sleep(5)

In [45]:
fixture=driver.find_element(By.XPATH,'//li[@class="nav-item ml-0"]')
fixture.click()

match_title=[]
series=[]
place=[]
date=[]
time=[]

c=driver.find_element(By.XPATH,'//div[@class="customSelecBox matchFormatDropDown openSBox"]')
c.click()
odi=driver.find_element(By.XPATH,'//div[@class="cSBListItems ng-scope"]')
odi.click()

#scraping series name
s=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in s:
    series.append(i.text)

#scraping place name    
p=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
for i in p:
    place.append(i.text)

#scraping date
d=driver.find_elements(By.XPATH,'//div[@class="match-card-left match-schedule"]')
for i in d:
    date.append(i.text)

#scraping time
t=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in t:
    time.append(i.text)

In [59]:
dt= pd.DataFrame({"Series":series,"Place":place,"Date":date,"Time":time})
dt

,Series,Place,Date,Time
0,ICC WOMENS WORLD CUP 2022,"Bay Oval, Mount Maunganui",6 MAR 2022,6:30 AM IST
1,ICC WOMENS WORLD CUP 2022,"Seddon Park, Hamilton",10 MAR 2022,6:30 AM IST
2,ICC WOMENS WORLD CUP 2022,"Seddon Park, Hamilton",12 MAR 2022,6:30 AM IST
3,ICC WOMENS WORLD CUP 2022,"Bay Oval, Mount Maunganui",16 MAR 2022,6:30 AM IST
4,ICC WOMENS WORLD CUP 2022,"Eden Park, Auckland",19 MAR 2022,6:30 AM IST
5,ICC WOMENS WORLD CUP 2022,"Seddon Park, Hamilton",22 MAR 2022,6:30 AM IST
6,ICC WOMENS WORLD CUP 2022,"Hagley Oval, Christchurch",28 MAR 2022,6:30 AM IST

# 3.Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [43]:
url ="https://www.guru99.com/"
driver.get(url)
time.sleep(5)

#first click on selenium option
selenium=driver.find_element(By.XPATH,'//*[@id="java_technologies"]/li[3]/a')
selenium.click()

#next click on selenium exception
selenium_exception=driver.find_element(By.XPATH,'//*[@id="post-193"]/div/div/table[5]/tbody/tr[34]/td[1]/a')
selenium_exception.click()

#lets extract the name
name=[]
n=driver.find_elements(By.XPATH,'//table[@class="table table-striped"]//tr//td[1]')
for i in n:
    name.append(i.text)
    
#lets extract the description

description=[]
d=driver.find_elements(By.XPATH,'//table[@class="table table-striped"]//tr//td[2]')
for i in d:
    description.append(i.text)

dt= pd.DataFrame({"Name":name, "Description":description})
dt

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# Q4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP
D) GSDP
E) Share
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [44]:
url ="http://statisticstimes.com/"
driver.get(url)
time.sleep(5)

In [63]:
link=[]
economy=driver.find_element(By.XPATH,'//div[@class="navbar"]//div[2]//a[3]')
link.append(economy.get_attribute("href"))

rank=[]
state=[]
gsdp_19_20=[]
gsdp_18_19=[]
share=[]
gdp=[]
for i in link:
    driver.get(i)
    gdp=driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]//li[1]//a')
    gdp.click()
    #extracting all details
    r= driver.find_elements(By.XPATH,'//table[@id="table_id"]//tbody//tr/td[1]')
    for i in r:
        rank.append(i.text)
    s= driver.find_elements(By.XPATH,'//table[@id="table_id"]//tbody//tr/td[2]')
    for i in s:
        state.append(i.text)
    gsdp1 = driver.find_elements(By.XPATH,'//table[@id="table_id"]//tbody//tr/td[3]')
    for i in gsdp1:
        gsdp_19_20.append(i.text)
    gsdp2 = driver.find_elements(By.XPATH,'//table[@id="table_id"]//tbody//tr/td[4]')
    for i in gsdp2:
        gsdp_18_19.append(i.text)    
    sh = driver.find_elements(By.XPATH,'//table[@id="table_id"]//tbody//tr/td[5]')
    for i in sh:
        share.append(i.text)
    gdp1= driver.find_elements(By.XPATH,'//table[@id="table_id"]//tbody//tr/td[6]')
    #for i in gdp1:
        #gdp.append(i.text)

#creating DataFrame:
dt=pd.DataFrame({"Rank":rank,"State":state,"GSDP(19-20)":gsdp_19_20,"GSDP(18-19)":gsdp_18_19, "Share":share})
dt

   Rank                      State GSDP(19-20) GSDP(18-19)   Share
0     1                Maharashtra           -   2,632,792  13.94%
1     2                 Tamil Nadu   1,845,853   1,630,208   8.63%
2     3              Uttar Pradesh   1,687,818   1,584,764   8.39%
3     4                    Gujarat           -   1,502,899   7.96%
4     5                  Karnataka   1,631,977   1,493,127   7.91%
5     6                West Bengal   1,253,832   1,089,898   5.77%
6     7                  Rajasthan   1,020,989     942,586   4.99%
7     8             Andhra Pradesh     972,782     862,957   4.57%
8     9                  Telangana     969,604     861,031   4.56%
9    10             Madhya Pradesh     906,672     809,592   4.29%
10   11                     Kerala           -     781,653   4.14%
11   12                      Delhi     856,112     774,870   4.10%
12   13                    Haryana     831,610     734,163   3.89%
13   14                      Bihar     611,804     530,363   2.81%
14   15                     Punjab     574,760     526,376   2.79%
15   16                     Odisha     521,275     487,805   2.58%
16   17                      Assam           -     315,881   1.67%
17   18               Chhattisgarh     329,180     304,063   1.61%
18   19                  Jharkhand     328,598     297,204   1.57%
19   20                Uttarakhand           -     245,895   1.30%
20   21            Jammu & Kashmir           -     155,956   0.83%
21   22           Himachal Pradesh     165,472     153,845   0.81%
22   23                        Goa      80,449      73,170   0.39%
23   24                    Tripura      55,984      49,845   0.26%
24   25                 Chandigarh           -      42,114   0.22%
25   26                 Puducherry      38,253      34,433   0.18%
26   27                  Meghalaya      36,572      33,481   0.18%
27   28                     Sikkim      32,496      28,723   0.15%
28   29                    Manipur      31,790      27,870   0.15%
29   30                   Nagaland           -      27,283   0.14%
30   31          Arunachal Pradesh           -      24,603   0.13%
31   32                    Mizoram      26,503      22,287   0.12%
32   33  Andaman & Nicobar Islands           -           -       -

# Q5.Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [61]:
import time
url ="https://github.com/"
driver.get(url)
time.sleep(5)

In [71]:
#lets click on explore
expl=driver.find_element(By.XPATH,'//summary[@class="icon-chevon-down-mktg position-absolute position-lg-relative"]//svg')
expl.click()

#click on trending
trending=driver.find_element(By.XPATH,'//ul[2][@class="list-style-none f5 pb-1]"//li[3]//a')
trending

rep_title=[]
r=driver.find_elements(By.XPATH,'//article[@class="Box-row"]//h1')
for i in r:
    rep_title.append(i.text)
    
des=[]
d=driver.find_elements(By.XPATH,'//article[@class="Box-row"]//p')
for i in d:
    try:
        des.append(i.text)
    except:
        des.append("--")

cont=[]
c=driver.find_elements(By.XPATH,'//span[@class="d-inline-block float-sm-right"]')
for i in c:
    cont.append(i.text)

lang=[]
l=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in l:
    try:
        lang.append(i.text)
    except:
        lang.append("--")

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//summary[@class="icon-chevon-down-mktg position-absolute position-lg-relative"]//svg"}
  (Session info: chrome=98.0.4758.102)
Stacktrace:
Backtrace:
	Ordinal0 [0x0085FDC3+2555331]
	Ordinal0 [0x007F77F1+2127857]
	Ordinal0 [0x006F2E08+1060360]
	Ordinal0 [0x0071E49E+1238174]
	Ordinal0 [0x0071E69B+1238683]
	Ordinal0 [0x00749252+1413714]
	Ordinal0 [0x00737B54+1342292]
	Ordinal0 [0x007475FA+1406458]
	Ordinal0 [0x00737976+1341814]
	Ordinal0 [0x007136B6+1193654]
	Ordinal0 [0x00714546+1197382]
	GetHandleVerifier [0x009F9622+1619522]
	GetHandleVerifier [0x00AA882C+2336844]
	GetHandleVerifier [0x008F23E1+541697]
	GetHandleVerifier [0x008F1443+537699]
	Ordinal0 [0x007FD18E+2150798]
	Ordinal0 [0x00801518+2168088]
	Ordinal0 [0x00801660+2168416]
	Ordinal0 [0x0080B330+2208560]
	BaseThreadInitThunk [0x7547FA29+25]
	RtlGetAppContainerNamedObjectPath [0x770B7A9E+286]
	RtlGetAppContainerNamedObjectPath [0x770B7A6E+238]

In [87]:
#top 10 data:
dt=pd.DataFrame({"Repository title":rep_title[:10],"Repository description":des[:10],"Contributors count":cont[:10]," Language used":lang[:10]})
dt

,Repository title,Repository description,Contributors count,Language used
0,cat-milk / Anime-Girls-Holding-Programming-Books,Anime Girls Holding Programming Books,309 stars today,Python
1,RunaCapital / awesome-oss-alternatives,Awesome list of open-source startup alternativ...,"1,338 stars today",Vue
2,hoppscotch / hoppscotch,👽 Open source API development ecosystem - http...,792 stars today,Python
3,MHProDev / MHDDoS,"Best DDoS Attack Script Python3, Cyber Attack ...",250 stars today,HCL
4,almerico / bombardier,bombardier,126 stars today,Python
5,LimerBoy / Impulse,💣 Impulse Denial-of-service ToolKit,212 stars today,C
6,rui314 / chibicc,A small C compiler,43 stars today,Go
7,curated-intel / Ukraine-Cyber-Operations,Curated Intelligence is working with analysts ...,143 stars today,Go
8,erkexzcx / stoppropaganda,DOS application to stop pro-Russian aggression...,134 stars today,HCL
9,youngyangyang04 / leetcode-master,《代码随想录》LeetCode 刷题攻略：200道经典题目刷题顺序，共60w字的详细图解，视...,75 stars today,Python

In [ ]:
Q6.6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [88]:
url ="https:/www.billboard.com/"
driver.get(url)
time.sleep(5)

In [93]:
chart=driver.find_element(By.XPATH,'//li[@class="o-nav__list-item lrv-u-align-items-center lrv-u-flex"]')
chart.click()
hot=driver.find_element(By.XPATH,'//li[@class="o-nav__list-item "]')
hot.click()

In [104]:
song=[]
s=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]')
for i in s:
    song.append(i.text)
len(song)

100

In [108]:
dt=pd.DataFrame({"Song_Name":song})
dt

                                            Song_Name
0   We Don't Talk About Bruno\nCarolina Gaitan, Ma...
1                 Heat Waves\nGlass Animals\n2\n2\n58
2                            abcdefu\nGAYLE\n4\n3\n14
3                         Easy On Me\nAdele\n3\n1\n20
4                Super Gremlin\nKodak Black\n6\n5\n16
..                                                ...
95       Closer\nSaweetie Featuring H.E.R.\n89\n89\n2
96                 Cold December\nRod Wave\n90\n38\n6
97            Get Into It (Yuh)\nDoja Cat\n94\n68\n17
98  All Too Well (Taylor's Version)\nTaylor Swift\...
99            Give Heaven Some Hell\nHARDY\n-\n100\n1

[100 rows x 1 columns]

# Q7.Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [158]:
url ="https://www.naukri.com/naukri-dot-com-recruiters"
driver.get(url)
time.sleep(5)

In [159]:
#type Data Science into serach box
ser=driver.find_element(By.XPATH,'//input[@class="sugInp"]').send_keys("Data science")
#click on search
btn=driver.find_element(By.XPATH,'//button[@class="fl qsbSrch blueBtn"]')
btn.click()

In [146]:
#type Data Science into serach box
ser=driver.find_element(By.XPATH,'//input[@class="sugInp"]').send_keys("Data science")
#click on search
btn=driver.find_element(By.XPATH,'//button[@class="fl qsbSrch blueBtn"]')
btn.click()

#Scraping Name:
name=[]
n=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
for i in n:
    name.append(i.text)

#sraping Designation
desg=[]
d=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in d:
    desg.append(i.text)

#scraping Skils they hire for:
skills=[]
s=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in s:
    skills.append(i.text)

#Sraping Location
loc=[]
l=driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
for i in l:
    try:
        loc.append(i.text)
    except NoSuchElementException:
        loc.append("--")

#scraping Company name:
com=[]
c=driver.find_elements(By.XPATH,'//a[@class="ellipsis"]//i')
for i in c:
    com.append(i.text)

#Making DataFrame:
dt=pd.DataFrame({"Name":name[:45],"Designation":desg[:45],"Skills They Hire For":skills[:45], "Location":loc[:45],"CopmanyName":com[:45]})
dt

,Name,Designation,Skills They Hire For,Location,CopmanyName
0,Aakash Harit,HR Manager,"Classic ASP Developer, Internet Marketing Prof...",Delhi,
1,shravan Kumar Gaddam,Company Recruiter,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad,
2,MARSIAN Technologies LLP,Company HR,"Data Science, Artificial Intelligence, Machine...",Pune,
3,Anik Agrawal,Company Recruiter,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad,
4,subhas patel,Founder CEO,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london),
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda,
6,Institute for Financial Management and Resear,Programme Manager,Data Science,Chennai,
7,Balu Ramesh,HR Administrator,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum,
8,Asif Lucknowi,Director,"Technical Training, Software Development, Pres...",Indore,
9,InstaFinancials,Human Resource,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore,
10,Priyanka Akiri,HR Manager,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad,
11,Kalpana Dumpala,Executive Hiring,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad,
12,Mubarak,Company HR,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore,
13,Kushal Rastogi,Company HR,"Office Administration, Hr Administration, tele...",Mumbai,
14,Mahesh Babu Channa,HR Team Lead,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad,
15,Sakshi Chhikara,Assistant Manager HR,"React.js, Data Science, Java, Front End, Busin...",Chandigarh,
16,Kapil Devang,HR Manager,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal,
17,Ruchi Dhote,Senior Executive Talent Acquisition,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune,
18,Sandhya Khandagale,HR Recruiter,"Big Data, Data Science, Artificial Intelligenc...",Pune,
19,Manisha Yadav,HR Executive,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai,
20,Riya Rajesh,Manager Talent Acquisition,Data Science,Cochin,
21,Rashmi Bhattacharjee,HR Head,"Corporate Sales, Software Development, Softwar...",Delhi,
22,Faizan Kareem,HR MANAGER,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad,
23,Rithika dadwal,HR Recruiter,"Data Science, Machine Learning, Python, R, Dee...",Pune,
24,Shaun Rao,Manager Human Resources,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune,
25,Azahar Shaikh,Company Recruiter,"Data Science, Artificial Intelligence, Machine...",Pune,
26,Manas,Lead Talent acquisition,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore,
27,kumar,Proprietor,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore,
28,Sunil Vedula,CEO,"Signal Processing, Machine Learning, Neural Ne...",Delhi,
29,Rajat Kumar,Founder CEO,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore,
30,Dhruv Dev Dubey,Company Recruitment Head,"Server Administartion, Verilog, Vhdl, Digital ...",Hyderabad / Secunderabad,
31,Avodha,Business Development Associate,"Ethical Hacking, Security Operations Center, S...",Mysoru / Mysore,
32,Jayanth N,Project Manager,"Data Analytics, Managed Services, Team Leading...",Bengaluru / Bangalore,
33,Priya Khare,Senior Manager,"Data Science, Artificial Intelligence, analyti...",New Delhi,
34,Amit Sharma,Consultant,"Machine Learning, Artificial Intelligence, Dat...",Chennai,
35,Kanan,senior technology instructor,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh,
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,"Relationship Management, Retail Sales, Private...",Salt Lake City,
37,Brad,"Manager, Technical Recruiting","Data Science, Software Engineering",Pune,
38,Rutuja Pawar,Technical Recruiter,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore,
39,Madhusudhan Sridhar,Erp Implementer,"Data Science, Recruitment, Salary",Mumbai,
40,Ankit Sinha,Head Analytics,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore,
41,Gaurav Chouhan,Chief Technical Officer,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore,
42,Rashi Kacker,Sr Product Manager,"Data Science, Node.js, Angularjs",MYSORE,
43,Ashwini,Director Global Delivery,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad,
44,Balaji Kolli,Co Founder,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore,

# Q8.Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [168]:
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(5)

#scraping Book name
book=[]
b=driver.find_elements(By.XPATH,'//td[2][@class="left"]')
for i in b:
    book.append(i.text)
    
#scraping Author Name
author=[]
a=driver.find_elements(By.XPATH,'//td[3][@class="left"]')
for i in a:
    author.append(i.text)

#srcaping Volume sold
volume=[]
v=driver.find_elements(By.XPATH,'//td[4][@class="left"]')
for i in v:
    volume.append(i.text)

#scaping publisher
pub=[]
p=driver.find_elements(By.XPATH,'//td[5][@class="left"]')
for i in p:
    pub.append(i.text)

#sraping Genre
genre=[]
g=driver.find_elements(By.XPATH,'//td[4][@class="left"]')
for i in g:
    genre.append(i.text)

dt=pd.DataFrame({"Book Name":book, "Author":author,"Volume Sold":volume,"Publisher":pub,"Genre":genre})
dt

,Book Name,Author,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"5,094,805"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,"4,475,152"
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,"4,200,654"
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,"4,179,479"
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,"3,758,936"
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,"807,311"
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,"794,201"
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,"792,187"
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,"791,507"
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,"791,095"

# Q9.Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [9]:
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)
time.sleep(5)

#extracting Name:
name=[]
n=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]//a')
for i in n:
    name.append(i.text)

#ectracting Year Span
year=[]
ys=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in ys:
    year.append(i.text)
    
#extracting Genre
genre=[]
genr = driver.find_elements_by_xpath('//span[@class="genre"]')
for i in genr:
    genre.append(i.text)
    
    
#extracting run time:
run=[]
r=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in r:
    run.append(i.text)

#extracting ratings
rating=[]
rt=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]//span[2]')
for i in rt:
    rating.append(i.text)
    
    
#extracting Votes
votes=[]
vt=driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in vt:
    votes.append(i.text)

#making DataFrame
dt=pd.DataFrame({"Name":name,"Year Span":year,"Genre":genre,"Run Time":run,"Rating":rating,"votes":votes})
dt

C:\Users\SHALIN~1\AppData\Local\Temp/ipykernel_7092/2983985440.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  genr = driver.find_elements_by_xpath('//span[@class="genre"]')

,Name,Year Span,Genre,Run Time,Rating,votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,957,950"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"967,445"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.3,"932,678"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"279,226"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.7,"239,403"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.6,"47,855"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"58,569"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.2,"185,970"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"39,383"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"222,298"

# 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [15]:
url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(5)

#Click on View all Datasets
driver.find_element(By.XPATH,'//td//span[2][@class="whitetext"]//a').click()

#scraping Dataset Name
dtn=[]
dt=driver.find_elements(By.XPATH,'//p[@class="normal"]//b//a')
for i in dt:
    dtn.append(i.text)

#sraping Task
task=[]
tk=driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[3]//p[@class="normal"]')
for i in tk:
    task.append(i.text)
    
#sraping Attribute Type
attribute=[]
at=driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[4]//p[@class="normal"]')
for i in at:
    try:
        attribute.append(i.text)
    except NOSuchElementFound:
        attribute.append("--")

#scraping Number of Instances
nins=[]
ni=driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[5]//p[@class="normal"]')
for i in ni:
    try:
        nins.append(i.text)
    except NOSuchElementFound:
        nins.append("--")
        
#scraping Number of Attribute
natb=[]
atb=driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[6]//p[@class="normal"]')
for i in atb:
    try:
        natb.append(i.text)
    except NOSuchElementFound:
        natb.append("--")
    
#scraping Year
year=[]
y=driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[7]//p[@class="normal"]')
for i in y:
    try:
        year.append(i.text)
    except NOSuchElementFound:
        year.append("--")

In [36]:
dt=pd.DataFrame({"Dataset Name":dtn,"Task":task,"Attribute Type":attribute,"Number of Instances":nins,"Number of Attribute":natb,"Year":year})
dt.head(100)

,Dataset Name,Task,Attribute Type,Number of Instances,Number of Attribute,Year
0,Abalone,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...
95,Statlog Project,,,,,1992
96,Student Loan Relational,,,1000,,1993
97,Teaching Assistant Evaluation,Classification,"Categorical, Integer",151,5,1997
98,Tic-Tac-Toe Endgame,Classification,Categorical,958,9,1991
99,Thyroid Disease,Classification,"Categorical, Real",7200,21,1987